@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ikaros;
  src: url(../../public/Ikaros-Regular.otf);
}
*{
  font-family: ikaros;
}
*::-webkit-scrollbar {
    display: none;
  }


